* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style: none;
}

body {
    background: linear-gradient(to right bottom, #282828, rgb(22, 21, 21)) fixed;
    height: 100%;
    width: 100%;
}

html#home {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#modalContent {
    background: linear-gradient(to right bottom, rgb(22, 21, 21), #282828) fixed;
}

#modalHeader,
#modalBody,
#modalCloseButton,
i {
    color: whitesmoke;
}

#virusProjectDescription,
#carProjectDescription,
#otherProjectDescription {
    background: linear-gradient(to right bottom, rgb(22, 21, 21), #282828) fixed;
    color: whitesmoke;
}

#landingpage {
    padding-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    background-size: 100%;
    padding-top: 235px;
    margin-left: 50px;
    margin-right: 50px;
    background-size: 100%;
}

#homePage {
    height: 100%;
    width: 100%;
}

#aboutPage {
    height: 100%;
    width: 100%;
}

#projectsPage {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: whitesmoke;
    margin-right: 20px;
}

.navbar-toggler {
    margin: 20px 20px 20px 10px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    float: right;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    display: block;
    float: right;
    margin: 10px;
    padding: 10px 10px;
    width: fit-content;
    height: auto;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    color: #3500D3;
}

#headings,
#aboutMeHeading,
#projectsHeading {
    color: whitesmoke;
    font-size: 3.5rem;
    margin: 10px;
}

.buttonsClass {
    color: whitesmoke;
    background-color: #3500D3;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin: 25px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    box-shadow: 3px 3px 3px 0 #190061;
}

.buttonsClass:hover {
    padding-top: 10.5px;
    box-shadow: inset 3px 3px 3px 0 #190061;
}

.modalButtons {
    color: whitesmoke;
    background-color: #3500D3;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    box-shadow: 3px 3px 3px 0 #190061;
}

.modalButtons:hover {
    padding-top: 10.5px;
    box-shadow: inset 3px 3px 3px 0 #190061;
}

#about {
    height: 100%;
    width: 100%;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: #e3e3e3;
    border-radius: 20px;
}

#e3 {
    background-color: #3500D3;
    border-radius: 30px;
    color: whitesmoke;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin: 25px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    box-shadow: 3px 3px 3px 0 #190061;
}

#e3:hover {
    box-shadow: inset 3px 3px 3px 0 #190061;
}

a {
    text-decoration: none !important;
}

/* TEST */

* {
    /* transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important; */
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
}

/* html,
body,
section,
.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;
    background: #374046;
    overflow: hidden;
} */


.page {
    position: absolute;
}

#p1 {
    left: 0;
}

#p2 {
    left: 100%;
    background: #3500D3;
}

#p3 {
    left: 200%;
    background: #3500D3;
}

#p4 {
    left: 300%;
    background: #3500D3;
}

#t1:target .page#p1 {
    transform: translateX(0);
}

#t2:target .page#p2 {
    transform: translateX(-90%);
}

#t3:target .page#p3 {
    transform: translateX(-190%);
}

#t4:target .page#p4 {
    transform: translateX(-290%);
}

#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1 {
    background: black;
}

#t2:target .page#p1 .icon,
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

img {
    width: 48px;
    cursor: pointer;
    margin-right: 20px;
}

.icon {
    color: #fff;
    font-size: 32px;
    display: block;
}

#p1 .icon .title {
    margin-bottom: 20px;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
    transform: scale(.6);
    transition-delay: .25s;
}

#t2:target #dos {
    transform: scale(1.2) !important;
}

#t3:target #tres {
    transform: scale(1.2) !important;
}

#t4:target #cuatro {
    transform: scale(1.2) !important;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}


.title,
.hint {
    font-family: 'Lato', sans-serif;
    display: block;
}

.title {
    font-size: 38px;
}

.hint {
    font-size: 13px;
}

.hint a {
    color: #EFFF06;
    transition: all 250ms easet-out;
}

.hint a:hover {
    color: #FFF;
}

.page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    width: 270px;
    height: 170px;
    margin: auto;
    text-align: center;
    font-size: 80px;
    transform: translateX(360%);
    line-height: 1.3;
}

.page#p1 .icon {
    height: 220px;
}

.page#p1 .icon {
    transform: translateX(0) !important;
}

#t2:target .page#p2 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

#t3:target .page#p3 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

#t4:target .page#p4 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

.credit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.credit a {
    color: #fff
}

.onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 36px;
    padding: 0;
    line-height: 36px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    background-color: #F5F5F5;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 36px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #3500D3;
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #3500D3;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 0px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #3500D3;
    border-right: 5px solid #3500D3;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media only screen and (min-width: 767px) and (max-width:832px) {
    .skill {
        transform: translate(-55px, 0px);
    }

    #skills {
        transform: translate(-30px, 0px);
    }
}