<!doctype html>
<html id="home" lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <script src="https://kit.fontawesome.com/88697ab7f1.js" crossorigin="anonymous"></script>
    <title>Munirudeen Maricar</title>
    <link rel="icon" type="image/gif/png" href="{% static 'media/Logo.webp'%}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-none fixed-top" style="background: none;">
        <button class="navbar-toggler ml-auto" style="background-color: black; border: 1px solid whitesmoke;"
            type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'tugas:index' %}#homePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'tugas:index' %}#aboutPage">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'tugas:index' %}#projectsPage">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#exampleModalCenter"
                        target="_blank">Résumé</a>
                </li>
                <li class="nav-item">
                    <div class="onoffswitch" style="margin-top: 18px; margin-left: 18px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
                            tabindex="0" checked onclick=changeTheme()>
                        <label class="onoffswitch-label" for="myonoffswitch"></label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalContent">
                <div class="modal-header" id="modalHeader">
                    <h5 class="modal-title" id="exampleModalCenterTitle">
                        Download Résumé?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalCloseButton">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    The résumé contains a list of my skills, academic and employment history along with a summary of my
                    contact information in a document format.
                </div>
                <div class="modal-footer">
                    <a type="button" data-dismiss="modal">
                        <h2 class="modalButtons">Cancel</h2>
                    </a>
                    <a href="{% static 'media/Résumé.pdf'%}" download="Munirudeen's Résumé.pdf">
                        <h2 class="modalButtons">Download</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <div id="social">
        <div class="container" style="font-size: 50px; color: whitesmoke; margin-top: 30px;">
            <div class="row">
                <div class="col-md">
                    <center><a href="https://www.facebook.com/munirmaric" target="_blank">
                            <i id="facebookLogo" class="fab fa-facebook-f"></i>
                        </a>
                    </center>
                </div>
                <div class="col-md">
                    <center><a href="https://www.instagram.com/munirmaricar/" target="_blank">
                            <i id="instagramLogo" class="fab fa-instagram"></i>
                        </a>
                    </center>
                </div>
                <div class="col-md">
                    <center><a href="https://twitter.com/MunirMaricar" target="_blank">
                            <i id="twitterLogo" class="fab fa-twitter"></i>
                        </a>
                    </center>
                </div>
                <div class="col-md">
                    <center><a href="https://www.linkedin.com/in/munirmaricar/" target="_blank">
                            <i id="linkedInLogo" class="fab fa-linkedin-in"></i>
                        </a>
                    </center>
                </div>
                <div class="col-md">
                    <center><a href="mailto:maricar.munirudeen@gmail.com?subject=Inquiry" target="_blank">
                            <i id="mailLogo" class="fas fa-envelope"></i>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small" style="position: fixed-bottom; margin-top: 50px; margin-bottom: 10px;">
        <center>
            <div class="footer" style="font-size: 20px; color: whitesmoke;">
            </div>
        </center>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
    <script src="//code.tidio.co/otp91f0va4q43ioshyyjsv5goclwzthl.js" async></script>
    <script>
        $(document).ready(function () {
            $(".footer").html("© " + new Date().getFullYear() +
                " Copyright: <a href='#homePage' id='copyright' style='color: whitesmoke; font-weight: bold;'>Munirudeen Maricar</a>"
            );
            $("#aboutMeDescription").html("Most people call me Munir, and I am a " + (new Date().getFullYear() -
                    2000) +
                "-year-old student currently enrolled at the University of Birmingham (Class of 2022). I am pursuing a BSc in Artificial Intelligence & Computer Science. My hobbies are to spend time at the gym, working on myself or being around my friends and family. A suitable description of me is that I am an ambitious and hard-working person who strives to learn from his mistakes and is very passionate about technology. I am eagerly motivated to continually develop my skills and grow professionally in a working environment."
            );
            $("#copyright").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#frontPageName").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#facebookLogo").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#instagramLogo").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#twitterLogo").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#linkedInLogo").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#mailLogo").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#newWebsiteForVirus").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#newWebsiteForCar").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
            $("#newWebsiteForOthers").mouseenter(function () {
                $(this).css("color", "rgb(53, 0, 211)")
            }).mouseleave(function () {
                $(this).css("color", "rgb(245, 245, 245)")
            });
        });

        function changeTheme() {
            var currentBackground = $('body').css("background-image");
            console.log(currentBackground);
            if (currentBackground == "linear-gradient(to right bottom, rgb(40, 40, 40), rgb(22, 21, 21))") {
                $("body").css({
                    "background-image": "linear-gradient(to right bottom, rgb(245, 245, 245), rgb(253, 253, 253))"
                });
                $(".navbar-nav .nav-item .nav-link").css({
                    "color": "rgb(40, 40, 40)",
                    "font-weight": "bold",
                });
                $(".navbar-nav .nav-item .nav-link").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#headings").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#aboutMeHeading").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#projectsHeading").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#frontPageName").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#modalContent").css({
                    "background-image": "linear-gradient(to right bottom, rgb(253, 253, 253), rgb(245, 245, 245))"
                });
                $("#modalHeader").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#virusProjectDescription").css({
                    "background-image": "linear-gradient(to right bottom, rgb(253, 253, 253), rgb(245, 245, 245))",
                    "color": "rgb(40, 40, 40)",
                });
                $("#carProjectDescription").css({
                    "background-image": "linear-gradient(to right bottom, rgb(253, 253, 253), rgb(245, 245, 245))",
                    "color": "rgb(40, 40, 40)",
                });
                $("#otherProjectDescription").css({
                    "background-image": "linear-gradient(to right bottom, rgb(253, 253, 253), rgb(245, 245, 245))",
                    "color": "rgb(40, 40, 40)",
                });
                $("#modalBody").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#modalCloseButton").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#virusProjectLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#carProjectLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#otherProjectLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#frontPageName").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#copyright").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#copyright").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $(".footer").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#aboutMeDescription").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#newWebsiteForVirus").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#newWebsiteForVirus").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#newWebsiteForCar").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#newWebsiteForCar").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#newWebsiteForOthers").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#newWebsiteForOthers").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#facebookLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#facebookLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#instagramLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#instagramLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#twitterLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#twitterLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#linkedInLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#linkedInLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("#mailLogo").css({
                    "color": "rgb(40, 40, 40)",
                });
                $("#mailLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(40, 40, 40)")
                });
                $("*").css({
                    "transition": "all 500ms ease-out",
                    "-webkit-transition": "all 500ms ease-out",
                });
            } else if (currentBackground ==
                "linear-gradient(to right bottom, rgb(245, 245, 245), rgb(253, 253, 253))") {
                $("body").css({
                    "background-image": "linear-gradient(to right bottom, rgb(40, 40, 40), rgb(22, 21, 21))"
                });
                $(".navbar-nav .nav-item .nav-link").css({
                    "color": "rgb(245, 245, 245)",
                    "font-weight": "bold",
                });
                $(".navbar-nav .nav-item .nav-link").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#headings").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#aboutMeHeading").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#projectsHeading").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#frontPageName").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#modalContent").css({
                    "background-image": "linear-gradient(to right bottom, rgb(22, 21, 21), rgb(40, 40, 40))"
                });
                $("#modalHeader").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#modalBody").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#modalCloseButton").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#virusProjectLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#carProjectLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#otherProjectLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#frontPageName").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#newWebsite").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#newWebsite").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#copyright").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#copyright").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $(".footer").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#aboutMeDescription").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#facebookLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#facebookLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#instagramLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#instagramLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#twitterLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#twitterLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#linkedInLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#linkedInLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#mailLogo").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#mailLogo").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#virusProjectDescription").css({
                    "background-image": "linear-gradient(to right bottom, rgb(22, 21, 21), rgb(40, 40, 40))",
                    "color": "rgb(245, 245, 245)",
                });
                $("#carProjectDescription").css({
                    "background-image": "linear-gradient(to right bottom, rgb(22, 21, 21), rgb(40, 40, 40))",
                    "color": "rgb(245, 245, 245)",
                });
                $("#otherProjectDescription").css({
                    "background-image": "linear-gradient(to right bottom, rgb(22, 21, 21), rgb(40, 40, 40))",
                    "color": "rgb(245, 245, 245)",
                });
                $("#newWebsiteForVirus").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#newWebsiteForVirus").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#newWebsiteForCar").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#newWebsiteForCar").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("#newWebsiteForOthers").css({
                    "color": "rgb(245, 245, 245)",
                });
                $("#newWebsiteForOthers").mouseenter(function () {
                    $(this).css("color", "rgb(53, 0, 211)")
                }).mouseleave(function () {
                    $(this).css("color", "rgb(245, 245, 245)")
                });
                $("*").css({
                    "transition": "all 500ms ease-out",
                    "-webkit-transition": "all 500ms ease-out",
                })
            };
        };
    </script>
</body>

</html>