{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="homePage" style="background-size: cover;">
  <div class="row one" id="landingpage">
    <div class="col-md-9">
      <h2 id="headings" class="animate__animated animate__tada">Hello! My name is <a id="frontPageName"
          style="font-weight: bold;">Munirudeen
          Maricar</a>, and here is a sneak peek into my life as a Computer Science student.</h2>
      <a class="button" href="#aboutPage" data-mode="popup" data-hide-headers=true data-hide-footer=true>
        <div class="arrow" style="margin-top: 280px">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <img src="{% static 'media/Coding.webp' %}" style="height: auto; width: 275px; margin-left: 20px;">
    </div>
  </div>
</section>

<section id="aboutPage">
  <div style="padding-top: 12vh;">
    <div class="row">
      <div class="col-md-7">
        <div style="margin-left: 5vw; margin-top: 2.5vh;">
          <h2 id="projectsHeading"
            style="color: whitesmoke; font-weight: bold; letter-spacing: 0.01rem; margin-left: 15px;">About Me</h2>
          <div style="height: 10px; width: 250px; background-color: #3500d3; border-radius: 20px; margin-left: 10px;">
          </div>
          <br>
          <h6 id="aboutMeDescription"
            style="font-size: 20px; margin-left: 0.8vw; color: whitesmoke; line-height: 30px; margin-bottom: 30px;">
          </h6>
        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static 'media/Me.webp' %}"
          style="height: auto; width: 330px; margin-top: 140px; margin-left: 120px;">
      </div>
    </div>
</section>

<section id="projectsPage">
  <div class="container-fluid" style="height: 7vh; font-weight: bolder;"></div>
  <h2 id="projectsHeading" style="color: whitesmoke; margin-left: 5vw; margin-top: 5vh; font-weight: bold;">Projects
  </h2>
  <div style="height: 10px; width: 205px; background-color: #3500d3; border-radius: 20px; margin-left: 5vw;">
  </div>
  <div class="container" style="margin-top: 75px;">
    <div class="row">
      <div class="col-md">
        <center><i id="virusProjectLogo" class="fas fa-viruses" style="font-size: 100px;"></i>
        </center>
        <a data-toggle="collapse" href="#CoronavirusProbabilityTest" role="button" aria-expanded="false"
          aria-controls="CoronavirusProbabilityTest">
          <h2 class="buttonsClass">COVID-19 Probability Test</h2>
        </a>
        <div class="collapse multi-collapse" id="CoronavirusProbabilityTest">
          <div id="virusProjectDescription" class="card card-body">
            Coronavirus Probability Test is a desktop-based web application to hypothesize how likely a person is to be
            infected by the COVID-19 virus. It uses Probabilistic Reasoning and updated statistics from the World Health
            Organization to do so.
            <a href="https://coronavirusprobability.herokuapp.com/" target="_blank"
              style="margin-top: 5px; text-align: right;"><i id="newWebsiteForVirus"
                class="icon fas fa-external-link-alt" style="font-size: 20px; color: whitesmoke;"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <center><i id="carProjectLogo" class="icon fa fa-car" style="font-size: 100px;"></i>
        </center>
        <a data-toggle="collapse" href="#MobilTermurah" role="button" aria-expanded="false"
          aria-controls="MobilTermurah">
          <h2 class="buttonsClass">Mobil Termurah</h2>
        </a>
        <div class="collapse multi-collapse" id="MobilTermurah">
          <div id="carProjectDescription" class="card card-body">
            Mobil Termurah is a desktop-based web application to find cheap cars for rent, whether it is for business
            trips, holidays, or even weddings. My colleagues and I, from the Faculty of Computer Science at the
            University of Indonesia, founded the website.
            <a href="https://mobiltermurah.herokuapp.com/" target="_blank"
              style="margin-top: 5px; text-align: right;"><i id="newWebsiteForCar" class="icon fas fa-external-link-alt"
                style="font-size: 20px; color: whitesmoke;"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <center><i id="otherProjectLogo" class="icon fa fa-gitlab" style="font-size: 100px;"></i>
        </center>
        <a data-toggle="collapse" href="#OtherProjects" role="button" aria-expanded="false"
          aria-controls="OtherProjects">
          <h2 class="buttonsClass">Other Projects</h2>
        </a>
        <div class="collapse multi-collapse" id="OtherProjects">
          <div id="otherProjectDescription" class="card card-body">
            Other projects that I have developed throughout my years of being a computer science student have been
            pushed into various GitLab Repositories and are available there.
            <a href="https://gitlab.com/users/munirmaricar/projects" target="_blank"
              style="margin-top: 5px; text-align: right;"><i id="newWebsiteForOthers"
                class="icon fas fa-external-link-alt" style="font-size: 20px; color: whitesmoke;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}